Repository lappis-unb/tais, pull requests merged in 2018-11, with the labels that each got.

#220 Captacao de recursos
  .gitignore
  README.md
  rouana/data/intents/curiosidades.md
  rouana/data/intents/geral.md
  rouana/data/stories/curiosidades.md
  rouana/domain.yml
  rouana/lab/Dockerfile
  rouana/lab/bot-intent-lab.ipynb
  rouana/lab/docker-compose.yml
  rouana/lab/intent-requirements.txt
Labels: Rouanet-Bot, conteúdo

#219 Improve intents
  .gitignore
  analysis/evaluate-intents.ipynb
  analysis/intent-requirements.txt
  docker-compose.yml
  docker/analysis/Dockerfile
  rouana/data/intents/curiosidades.md
  rouana/data/intents/geral.md
  rouana/lab/Dockerfile
  rouana/lab/bot-intent-lab.ipynb
  rouana/lab/docker-compose.yml
Labels: Rouanet-Bot, conteúdo, rasa

#234 Comercializacao de ingressos
  bot/data/intents/curiosidades.md
  bot/data/stories/curiosidades.md
  bot/domain.yml
  notebooks/evaluate-intents.ipynb
  web/tais/templates/_default.html
Labels: Rouanet-Bot

#235 Intent remuneração proponente
  bot/data/intents/curiosidades.md
  bot/data/intents/geral.md
  bot/data/stories/curiosidades.md
  bot/domain.yml
  web/tais/templates/_default.html
Labels: Rouanet-Bot, beta, conteúdo

#236 Intent comprovacao experiencia
  bot/data/intents/curiosidades.md
  bot/data/intents/geral.md
  bot/data/stories/curiosidades.md
  bot/domain.yml
  web/tais/templates/_default.html
Labels: Rouanet-Bot, beta, conteúdo

#239 Intent valores pagamento
  bot/data/intents/curiosidades.md
  bot/data/stories/curiosidades.md
  bot/domain.yml
  docker-compose.yml
  notebooks/evaluate-intents.ipynb
  web/tais/templates/_default.html
Labels: Rouanet-Bot, conteúdo
